<h1>Hola ! por favor confirme su email para poder usar su cuenta.</h1>

<p>
   Por favor confirme su email haciendo click en el enlace de abajo. <br><br>
    <a href="{{ signedUrl|raw }}">Confirmar email</a>.
    Este link expira en {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    !un saludo!
</p>
