<!DOCTYPE html>
<html lang="es">
{% block head %}
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://cdn.tailwindcss.com"></script>
<title>{% block title %}{{ title }}{% endblock %} - My Webpage</title>
</head>
{% endblock %}

<body>

{% block menuHeader %}
 
    {% if '/' != app.request.pathInfo() %}
            {% include '/Includes/header.html.twig' %}
    {% endif %}

{% endblock %}

<div id="body">{% block body %}{% endblock %}</div>

{% block footer %}

{% set route = app.request.attributes.get('_route') %}

<div id="footer">
    {% if 'panel' in app.request.attributes.get("_route")  %}
        <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer></script>
    {% endif %}
    
    {% include '/Includes/footer.html.twig' %}
</div>
 

{% endblock %}
</body>
</html>